<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <property name="ROOT_LOG_PATH" value="target/logs"/>
    <property name="WARNING_ERROR_LOGS_FILE" value="general_logs.log"/>

    <appender name="INFO_LOGS" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%thread] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WARNING_ERROR_LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${ROOT_LOG_PATH}/${WARNING_ERROR_LOGS_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${ROOT_LOG_PATH}/%d{yyyy-MM-dd}.${WARNING_ERROR_LOGS_FILE}</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%thread] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="INFO_LOGS"/>
        <appender-ref ref="WARNING_ERROR_LOGS"/>
    </root>
</configuration>

